#IP is used for Connected with POSTask to print
IP=127.0.0.1
#IP=172.16.66.38
PORT=25002
#10 Seconds
#Timeout=300
Timeout=300

#machineNo(POS ID)
Printer.MachineNo=3

Printer.Log.Path=C:\Program Files\VAT Application\Log.log
#Page num of volumn of every invoices
Printer.Ticket.TicketPage=250
#Invoice number length
Printer.Ticket.TicketLength=8
#0是VAT Version ，1是Non VAT版本
Printer.NonVATVersion=1

#Hot key
#TryReprint has another function which to reboot VATService
Printer.Hotkey.TryReprint=F5
Printer.Hotkey.CancelPrint=F1
Printer.Hotkey.Confirm=Enter
Printer.Hotkey.Remapping=F2

#Message tip of windows form
Printer.Error.NoResponsable=打印机没有反应,按TryReprint重试打印, 按CancelPrint可取消打印
Printer.Error.InputNumber=请输入初始发票号
Printer.Error.NoPaper=打印机缺纸,请更换纸卷后按ENTER确认
Printer.Error.NewVATTickets=请更换新纸卷,输入初始发票号后按ENTER确认
Printer.Error.NotFindVATTikcetsFile=配置文件不正确,请更换新纸卷后按ENTER确认
Printer.Error.PaperJam=打印机卡纸,请检查打印机,调试后请输入当前发票号 按Enter确认
Printer.Error.Nopaper.Choose=打印机纸张不够打印,更换新纸卷打印请按TryReprint,取消打印请按CancelPrint
Printer.Error.InputCurrentNumber=当前发票号：
Printer.Error.OtherException=打印机发生异常，请检查打印机
Printer.Error.CoverOpen=机盖打开，请检查打印机
Printer.Error.PrinterLoseConnection=打印机断开连接，请检查打印机
Printer.Error.NoReprint=没有可重印的小票，请按F1退出

#Infomation of VATTickets.xml
Printer.VATTickets.SavePath=C:\Program Files\VAT Application\
Printer.VATTickets.FileName=VATTickets.xml
Printer.VATTickets.Root=/Invoices/Invoice

#xml的action命令
Printer.Type.GetPrintPageCount=GetPrintPageCount
Printer.Type.PrintNormal=PrintNormal
Printer.Type.PrintStartToEnd=PrintStartToEnd
Printer.Type.PrintAtPageNumber=PrintAtPageNumber
Printer.Type.PrintStartAndCount=PrintStartAndCount

#返回的xml的参数名称
Printer.StartIndex=StartIndex
Printer.PageNumber=PageNumber
Printer.Count=Count

#JSocket返回的key信息
Printer.code.Sucess=0
Printer.code.Nopaper=111
Printer.code.OtherException=103
Printer.code.NoAction=-3
Printer.code.CoverOpen=121
Printer.code.PrinterLoseConnection=105
Printer.code.Page=Page

#PrintTicket保存的路径
Printer.TicketSavePath=C:\Program Files\VAT Application\

#Tender类型
Type.Tender.Cash=1,2,25,27,28,16
Type.Tender.ForFree=
Type.Tender.Credit=3,6,7,8,9,10
Type.Tender.Giftcard=
Type.Tender.Cheque=21
Type.Tender.Coupon=4,22,23
Type.Tender.PrePaid=
#Tender类型 2012-03-27
Type.Tender.Ecoupon=26
Type.Tender.EcouponDateCharA=0


#关于Intercept的注册信息
Printer.Intercepts=XMLWrapper,PrintTicketConvertor,DescriptionSetter,TxnDateChange
Printer.Intercepts.XMLWrapper.Type=Edge.Printer.Intercept.Support.TicketXMLItcp
Printer.Intercepts.PrintTicketConvertor.Type=Edge.Printer.Intercept.Support.PrintTicketItcp
Printer.Intercepts.DescriptionSetter.Type=Edge.Printer.Intercept.Support.DescriptionItcp
Printer.Intercepts.TxnDateChange.Type=Edge.Printer.Intercept.Support.TxnDateItcp

#Description Catcher 从数据库中获取Description数据
#这个是DescriptionItcp拦截器使用到的数据
#链接到数据库的参数设置
Printer.Description.DBSettings=User ID,Pwd,Persist Security Info,Database,Server,Server W7,Connect Timeout
Printer.Description.DBSettings.User ID=sa
Printer.Description.DBSettings.Pwd=WTCCN0000
Printer.Description.DBSettings.Persist Security Info=false
Printer.Description.DBSettings.Database=FrontOff
Printer.Description.DBSettings.Server=MFS1
Printer.Description.DBSettings.Server W7=MFS1
Printer.Description.DBSettings.Connect Timeout=30

#注册本地DB的文件
Printer.Description.File=C:\Program Files\StoreLine\WinPOS\Descr.bin

#这里还有个属性为LongText，这个是拿Long Description
#Name是固定好的，目前有5个Description
#ItemDesc,TenderDesc,ReasonDesc,PromotionDesc,StoreDesc,SupervisorDesc,TransdiscountDesc,ClubcardDesc 
Printer.Description.Name=ItemDesc,TenderDesc,ReasonDesc,PromotionDesc,SupervisorDesc,TransdiscountDesc,ClubcardDesc
Printer.Description.ItemDesc.QueryString=select ITM_ID,RCPT_DESCR from PLU
Printer.Description.ItemDesc.Code=ITM_ID
Printer.Description.ItemDesc.Text=RCPT_DESCR
Printer.Description.TenderDesc.QueryString=select TND_CD,TND_DESCR from MEDIA
Printer.Description.TenderDesc.Code=TND_CD
Printer.Description.TenderDesc.Text=TND_DESCR
Printer.Description.ReasonDesc.QueryString=select RSN_CD,DESCR from RSN_CODE
Printer.Description.ReasonDesc.Code=RSN_CD
Printer.Description.ReasonDesc.Text=DESCR
Printer.Description.PromotionDesc.QueryString=select MMBR_PROM_ID,PROM_DESC from MMBR_PROM
Printer.Description.PromotionDesc.Code=MMBR_PROM_ID
Printer.Description.PromotionDesc.Text=PROM_DESC
Printer.Description.SupervisorDesc.QueryString=SELECT EMP_ID,EMP_NM FROM EMP
Printer.Description.SupervisorDesc.Code=EMP_ID
Printer.Description.SupervisorDesc.Text=EMP_NM
Printer.Description.TransdiscountDesc.QueryString=select DISC_NBR,DISC_DESCR from DISCOUNT
Printer.Description.TransdiscountDesc.Code=DISC_NBR
Printer.Description.TransdiscountDesc.Text=DISC_DESCR
Printer.Description.ClubcardDesc.QueryString=select SCHM_ID,DESCR from CLB_CRD_SCHM
Printer.Description.ClubcardDesc.Code=SCHM_ID
Printer.Description.ClubcardDesc.Text=DESCR


#add 2011-10-28
#Store
Printer.Store.Name=HeadDesc,BottonDesc
Printer.Store.HeadDesc.QueryString=SELECT HEADER_ID,DATA FROM HEADER_FOOTER_LINES WHERE (PRT = 1) AND (RCRD_TYPE = 0) AND (HEADER_ID IN (SELECT HDR_FTR FROM POST_CFG WHERE (POS_NBR = ?)))
Printer.Store.HeadDesc.Code=HEADER_ID
Printer.Store.HeadDesc.Text=DATA

Printer.Store.BottonDesc.QueryString=SELECT HEADER_ID,DATA FROM HEADER_FOOTER_LINES WHERE (PRT = 1) AND (RCRD_TYPE = 1) AND (HEADER_ID IN (SELECT HDR_FTR FROM POST_CFG WHERE (POS_NBR = ?)))
Printer.Store.BottonDesc.Code=HEADER_ID
Printer.Store.BottonDesc.Text=DATA

#Casher
Printer.Casher.Name=CasherDesc
Printer.Casher.CasherDesc.QueryString=SELECT EMP_ID,EMP_NM FROM EMP
Printer.Casher.CasherDesc.Code=EMP_ID
Printer.Casher.CasherDesc.Text=EMP_NM

#Machine
Printer.Machine.Name=MachineDesc
Printer.Machine.MachineDesc.QueryString=SELECT POS_NBR, POS_SERIAL_NUM FROM POST_CFG
Printer.Machine.MachineDesc.Code=POS_NBR
Printer.Machine.MachineDesc.Text=POS_SERIAL_NUM

#设置BatchQueue的处理参数
Printer.BatchQueue.Open=true
Printer.BatchQueue.User=Jacky
Printer.BatchQueue.Password=BatchQueue
Printer.BatchQueue.URL=tcp://MFS1:5052/BBLABatchQueue1/BatchQueue.rem
Printer.BatchQueue.Job.Type=Edge.VAT.Jobs.TicketInfoJob
Printer.BatchQueue.Job.Assembly=Edge.VAT.Jobs

#add 2011-07-22 设置是否启用新的打印弹窗，以及生成xml的规则，true 新规则，false 旧规则。
Printer.Rule.IsNewPrintRule=false
#add 2011-08-01 设置自动上传的频率时间
Printer.Tickets.AutoSendTicketInterval=5

#add 2011-09-08
Printer.Tickets.SecurityCode=12341277aasdww

#add 2011-10-27
Printer.Tickets.LoyaltyInfoPath=C:\Program Files\VAT Application\LoyaltyInfo.xml

#add 2011-11-07 不需要打印的Promotion的ID
#Printer.Tickets.NeedClearPromotionIDs=[9000000],[9000001]

#add 2011-11-08
Printer.Tickets.IP=127.0.0.1
Printer.Tickets.PORT=25002
Printer.Tickets.Timeout=70

#add 2011-11-14
Printer.Hotkey.F1Key=F1
Printer.Hotkey.EscKey=Escape

#add 2011-11-18
Printer.Encrypt.Payer=个人
Printer.Encrypt.PLU=PLU
Printer.Encrypt.ProductName=商品
Printer.Encrypt.Unit=元

#add 2011-11-21
Printer.Encrypt.InvoicePadLeftChar=0
Printer.Encrypt.InvoiceCodeMaxLen=12
Printer.Encrypt.InvoiceNoMaxLen=8
Printer.Encrypt.InvoiceSerialNoMaxLen=8
Printer.Encrypt.TerminalIDMaxLen=16

#add 2011-11-30
Printer.Encrypt.QueryListTemplate={SerialID}          {InvoiceCode}            {InvoiceNo}                      {Status}

#add 2011-12-12  1 is debug mode,  0 normal
Printer.Encrypt.IsDebugMode=1
Printer.Tickets.DescriptionUpdateTime=18:00:00

#add 2011-12-21 training mode, 1 need to print,0 no need to print
Printer.traingingMode.NeedPrint=1
Printer.Encrypt.CommunicateErrorCode=[2][50001]

Printer.Encrypt.QueryWaringNum=2

#add 2012-03-14 for backup xml
Printer.Tickets.StoreIDLength=5
Printer.Tickets.MachineIDLength=3
Printer.Tickets.TransactionIDLength=4

#add 2012-07-14 by frank for Encrypt machine
Printer.Encrypt.InvoiceCodeInputPattern=^\d$
Printer.Encrypt.InvoiceNoInputPattern=^\d$
Printer.Encrypt.InvoiceSerialNoInputPattern=^\d$



#Link to the VAT DB parameter settings
#Add by Gavin @2014-03-07 
Printer.INVOICEPOOL.VATDBSettings=Provider,Password,User ID,Persist Security Info,Initial Catalog,Data Source,Data Source W7,Connect Timeout
Printer.INVOICEPOOL.VATDBSettings.Provider=SQLOLEDB.1
Printer.INVOICEPOOL.VATDBSettings.User ID=sa
Printer.INVOICEPOOL.VATDBSettings.Password=WTCCN0000
Printer.INVOICEPOOL.VATDBSettings.Persist Security Info=false
Printer.INVOICEPOOL.VATDBSettings.Initial Catalog=VAT
Printer.INVOICEPOOL.VATDBSettings.Data Source=MFS1
Printer.INVOICEPOOL.VATDBSettings.Data Source W7=MFS1
Printer.INVOICEPOOL.VATDBSettings.Connect Timeout=30

#
#Add by Gavin @2014-03-11
Printer.SplitAmtTender.TenderID=1,2,3,4,6,7,8,9,10,20,21,22,23,25,28,24,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75
Chg_Invroll_alert=Y

#add 2017-01-19
Printer.Tickets.PaymentInfoPath=C:\financialframework-asw-payment-printer-assembly-3.3.3-distribution\data\txnInfoFile.txt
﻿
#add 2017-05-11
Printer.Tickets.BillPaymentPath=C:\financialframework-asw-payment-printer-assembly-3.3.3-distribution\data\billpaymentinfo.txt
Printer.Tickets.BillPaymentSKU=00000100403607

